@model IEnumerable<TobaccoShop.BLL.DTO.ProductDTO>

@foreach (var item in Model)
{
    <div class="col-md-2">
        <a href="/products/item/@item.ProductId">
            <div>
                <img style='width:150px; height:150px' src="@item.Image" />
            </div>
        </a>
        @*<a href="/products/item/@item.ProductId">@item.Mark @item.Model</a>*@
        @Html.ActionLink(item.Mark + " " + item.Model, "Item", new { productId = item.ProductId })

        <p>@Html.DisplayFor(modelItem => item.Price) <span class="glyphicon-rub"></span> </p>

        @using (Ajax.BeginForm("AddToCart", "Products", new { productId = item.ProductId }, new AjaxOptions { UpdateTargetId = "CartMenu" }))
        {
            <input class="btn-success" type="submit" value="Купить" />
        }

    </div>
}
