<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/ion.rangeSlider.css" rel="stylesheet" />
    <link href="~/Content/ion.rangeSlider.skinHTML5.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="nav navbar-default">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Главная<span class="sr-only">(current)</span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Товары<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Products/Hookahs/">Кальяны</a></li>
                                    <li><a href="/Products/Hookahs/">Табак для кальянов</a></li>
                                </ul>
                            </li>
                            <li><a href="/Home/Delivery">Доставка<span class="sr-only">(current)</span></a></li>
                            <li><a href="/Home/TobaccoShop">О компании<span class="sr-only">(current)</span></a></li>
                            <li><a href="/Connect/Login/">Вход<span class="sr-only">(current)</span></a></li>
                            <li><a href="/Connect/Register/">Рега<span class="sr-only">(current)</span></a></li>
                        </ul>
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Поиск" />
                            </div>
                            <button type="submit" class="btn btn-default">Поиск</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
                            <li id="cartProductsCount"></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">1234<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Мой профиль</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/Connect/Logout/">Выйти</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="row" style="margin-top: 25px">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/scripts.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/scripts/jquery.validate.js")
    @Scripts.Render("~/scripts/jquery.validate.unobtrusive.js")
    @Scripts.Render("~/scripts/ion.rangeSlider.min.js");
    @RenderSection("scripts", required: false)
</body>
</html>
