@model TobaccoShop.Models.ProductModels.HookahViewModel

@using (Html.BeginForm("AddHookah", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div>
            @Html.HiddenFor(x => x.ProductId)
        </div>
        <div>
            @Html.LabelFor(x => x.Mark, new { @class = "control-label" })
        </div>
        <div>
            @Html.EditorFor(x => x.Mark, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => Model.Mark)
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.Model, new { @class = "control-label" })
        </div>
        <div>
            @Html.EditorFor(x => x.Model, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Model)
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.Description, new { @class = "control-label" })
        </div>
        <div>
            @Html.EditorFor(x => x.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Description)
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.Country, new { @class = "control-label" })
        </div>
        <div>
            @Html.EditorFor(x => x.Country, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Country)
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.Height, new { @class = "control-label" })
        </div>
        <div>
            @Html.EditorFor(x => x.Height, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Height)
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.Price, new { @class = "control-label" })
        </div>
        <div>
            @Html.EditorFor(x => x.Price, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Price)
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.LabelFor(x => x.Available, new { @class = "control-label" })
        </div>
        <div>
            @Html.EditorFor(x => x.Available, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Available)
        </div>
    </div>
    <div class="form-group">
        <div>
            <label class="control-label">Изображение, максимальный размер 270x270</label>
            <input type="file" name="uploadImage" />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" />
        <input type="reset" value="Сброс" />
    </div>
    <div class="form-group">
        @Html.ValidationSummary(true)
    </div>
}
