@model List<(double, double)>


<div id="orderProducts" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


@using (Html.BeginScriptContext())
{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script type="text/javascript">
        Highcharts.chart('orderProducts', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Диаграмма среднего количества товаров в заказе'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Количество'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Различных товаров',
                data: [@Model[0].Item1, @Model[1].Item1, @Model[2].Item1, @Model[3].Item1, @Model[4].Item1, @Model[5].Item1, @Model[6].Item1, @Model[7].Item1, @Model[8].Item1, @Model[9].Item1, @Model[10].Item1, @Model[11].Item1]
            }, {
                name: 'Всего товаров',
                data: [@Model[0].Item2, @Model[1].Item2, @Model[2].Item2, @Model[3].Item2, @Model[4].Item2, @Model[5].Item2, @Model[6].Item2, @Model[7].Item2, @Model[8].Item2, @Model[9].Item2, @Model[10].Item2, @Model[11].Item2]
            }]
        });
    </script>
}
