@model TobaccoShop.BLL.DTO.UserDTO

@{
    ViewBag.Title = "Информация о пользователе";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6">
    <h2>Информация о пользователе</h2>

    <div>
        <dl class="iteminfo">
            <dt class="iteminfo-name">
                <span class="iteminfo-name-inner">
                    @Html.Label("Имя пользователя")
                </span>
            </dt>
            <dd class="iteminfo-value">
                <span class="iteminfo-value-inner">
                    @Html.DisplayFor(p => Model.UserName)
                </span>
            </dd>
        </dl>
        <dl class="iteminfo">
            <dt class="iteminfo-name">
                <span class="iteminfo-name-inner">
                    @Html.Label("Email")
                </span>
            </dt>
            <dd class="iteminfo-value">
                <span class="iteminfo-value-inner">
                    @Html.DisplayFor(p => Model.Email)
                </span>
            </dd>
        </dl>
        <dl class="iteminfo">
            <dt class="iteminfo-name">
                <span class="iteminfo-name-inner">
                    @Html.Label("Дата регистрации")
                </span>
            </dt>
            <dd class="iteminfo-value">
                <span class="iteminfo-value-inner">
                    @Html.DisplayFor(p => Model.RegisterDate)
                </span>
            </dd>
        </dl>
        <dl class="iteminfo">
            <dt class="iteminfo-name">
                <span class="iteminfo-name-inner">
                    @Html.Label("Роль")
                </span>
            </dt>
            <dd class="iteminfo-value" style="display: inline-flex">
                <span class="iteminfo-value-inner" id="userRole">
                    @Html.DisplayFor(p => Model.Role)
                </span>
                <div style="display:inline-flex; margin-left: 25px">
                    @using (Ajax.BeginForm("ChangeUserRole", new { id = Model.Id, newRole = "User" }, new AjaxOptions { UpdateTargetId = "userRole", OnSuccess = "hideUserRoleTooltip" }))
                    {
                        <input type="submit" class="btn-xs btn-primary" value="User" data-toggle="tooltip" data-placement="bottom" title="Назначить пользователем"/>
                    }
                    @using (Ajax.BeginForm("ChangeUserRole", new { id = Model.Id, newRole = "Moderator" }, new AjaxOptions { UpdateTargetId = "userRole", OnSuccess = "hideUserRoleTooltip" }))
                    {
                        <input type="submit" class="btn-xs btn-primary" value="Mod" data-toggle="tooltip" data-placement="bottom" title="Назначить модератором"/>
                    }
                    @using (Ajax.BeginForm("ChangeUserRole", new { id = Model.Id, newRole = "Admin" }, new AjaxOptions { UpdateTargetId = "userRole", OnSuccess = "hideUserRoleTooltip" }))
                    {
                        <input type="submit" class="btn-xs btn-primary" value="Admin" data-toggle="tooltip" data-placement="bottom" title="Назначить администратором"/>
                    }
                </div>
            </dd>
        </dl>
    </div>
</div>

<div id="userOrders">
    @{ Html.RenderPartial("_OrderList", Model.Orders); }
</div>
