@model TobaccoShop.Models.HookahListViewModel

@{
    ViewBag.Title = "Кальяны";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @using (Ajax.BeginForm("ProductFilter", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "productList" }))
    {
        @Html.AntiForgeryToken()
        <div id="filter" class="col-md-3">
            <div class="filter-section">
                <p>Цена</p>
                <div>
                    @Html.TextBoxFor(x => x.minPrice, htmlAttributes: new { @class = "filter-input form-control" })
                    <span>—</span>
                    @Html.TextBoxFor(x => x.maxPrice, htmlAttributes: new { @class = "filter-input form-control" })
                </div>
                <input id="price_range"/>
                <br/>
            </div>
            
            <div class="filter-section">
                <p>Марка</p>
                    @foreach (var mark in Model.Marks)
                    {
                    <div class="checkbox-item">
                        <input type="checkbox" class="checkbox" id="[@mark]" name="SelectedMarks" value="@mark"/>
                        @Html.Label(mark, htmlAttributes: new { @style = "margin-left: 5px" })
                    </div>
                    }
            </div>

            <div class="filter-section">
                <p>Высота, см.</p>
                <div>
                    @Html.TextBoxFor(x => x.minHeight, htmlAttributes: new { @class = "filter-input form-control" })
                    <span>—</span>
                    @Html.TextBoxFor(x => x.maxHeight, htmlAttributes: new { @class = "filter-input form-control" })
                </div>
                <input id="height_range"/>
                <br />
            </div>
            <div class="filter-section">
                <input type="submit" class="btn-default" value="Применить" />
                <input type="reset" class="btn-default" value="Сбросить фильтр" />
            </div>
        </div>
    }

    <div id="productList" class="col-md-9 list-group">
        @{Html.RenderPartial("_ProductList", Model.Products);}
    </div>
</div>

